<h1 class="heading">Add Product!</h1>
<hr class="hr-style">

<div class="col-md-6 col-md-offset-2">
<form method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label class="design">Product Name</label>
		<input type="text" class="form-control" name="pn" required>
	</div>
	<div class="form-group">
		<label class="design">Product Code</label>
		<input type="text" class="form-control" name="pc" required>
	</div>
	<div class="form-group">
		<label class="design">Product Image</label>
		<input type="file" class="form-control" name="p_pic" required>
	</div>
	<button type="submit" class="btn btn-primary">Add </button>
</form>
</div>