<h1 class="heading">View Admin!</h1>
<hr class="hr-style">

<div class="col-md-4 col-md-offset-2">           
  <table class="table table-hover">
    <thead>
      <tr>
        <th style="color:#3774d6;">User Name</th>
        <th style="color:#3774d6;">Delete</th>
      
      </tr>
    </thead>
    <tbody>
    {{#each admin}}


      <tr>
        <td >{{username}}</td>

        <td><a href="/dadmin/{{_id}}" class="btn btn-danger">Delete</a> </td>
      </tr>
     {{/each}}
    </tbody>
  </table>
</div>